NIA_API_KEY=
HYPERSPELL_API_KEY=
TENSORLAKE_API_KEY=
TENSORLAKE_API_URL=
INSFORGE_API_KEY=
DATABASE_URL=
OPENAI_API_KEY=
OPENAI_BASE_URL=https://bh85sj6nqn5ns4-8080.proxy.runpod.net/v1
APP_URL=http://localhost:3000
